<!-- BASE LAYER
     Rather than copying and pasting this repeatedly,
     create a base ejs file for all other ejs files
     to include.
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KinetikTXT</title>
        <link rel="stylesheet" href="/styles/core.css">

        <!-- IMPORTANT -->
        <!-- This ensures the clients are connecting to the Socket.io server -->
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io();

            // Check if the Client is connect to the Server
            socket.on("connect", () => 
            {
                console.log("Connected to Server")
            })

            // Check if the Client disconnected from the Server
            socket.on("disconnect", () => 
            {
                console.log("Disconnected from Server")
                // You can perform additional actions when the client is disconnected
            })
        </script>
    </head>

    <body>
        <div>
            <!-- IMPORTANT -->
            <!-- Other .ejs files will insert their content here. -->
            <%- body %>
        </div>
    </body>
</html>